
.content {
  padding: 0 40px;
  box-sizing: border-box;
}

.content-section-top {
  display: flex;
  flex-direction: row;

  overflow: hidden;

  padding-bottom: 5px;
  margin-bottom: -5px;
}

.content-section {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content-section-top_left {
  flex: 0 1 50%;
  margin-right: 15px;
}

.content-section-top_right {
  flex: 0 1 50%;
  margin-left: 15px;
}

.content-section-top-content {
  flex: 1 1 auto;

  height: 330px;
}

.content-section-devices-content {
  margin: 0 -40px;
  padding-left: 40px;
}

.content-section-title {
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 20px;
}

.content-section-name {
  flex: 1 0 auto;
  font: var(--font-large-bold);
}

.content-section-name_devices {
  flex-grow: 0;
  margin-right: 13px;
}

.content-section-pager {
  width: 47px; /* 16 + 16 + 15 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-section-pager-button {
  width: 16px;
  height: 16px;

  background: center center no-repeat;
  cursor: pointer;

  background-image: url("../guide/assets/Icons / Arrow Right / M Copy@1x.png");
  background-image: image-set(
      "../guide/assets/Icons / Arrow Right / M Copy@1x.png" 1x,
      "../guide/assets/Icons / Arrow Right / M Copy@2x.png" 2x);
}

.content-section-pager-button_prev {
}

.content-section-pager-button_next {
  transform: scaleX(-1);
}

.content-section-pager-button_active {
}

.content-section-devicelist {
  flex-grow: 1;
}

.content-section-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 30px;

  margin-right: 10px;
  padding: 0 15px;

  border-radius: 20px;

  font: var(--font-smaller-bold);
  color: var(--switch-text-color);
  text-decoration: none;

  background: var(--secondary-background-color);
}

.content-section-switch_active {
  background: var(--active-background-color);
}
