
body {
  --active-color: #333333;
  --secondary-color: #858585;
  --divider-color: #F0F0F0;
  --background-color: #FFFFFF;
  --secondary-background-color: #F7F7F7;

  --shadow-color: rgba(197, 186, 186, 0.5);

  --font-family: Arial, sans-serif;

  --font-size-small: 12px;
  --font-size-smaller: 13px;
  --font-size-normal: 14px;
  --font-size-larger: 16px;
  --font-size-large: 18px;

  --font-size-title: 27px;
  --font-size-counter: 36px;
  --font-size-large-counter: 66px;

  --font-small-normal: normal var(--font-size-small) var(--font-family);
  --font-normal-normal: normal var(--font-size-normal) var(--font-family);
  --font-larger-bold: bold var(--font-size-larger) var(--font-family);
  --font-large-bold: bold var(--font-size-large) var(--font-family);

  font: var(--font-normal-normal);
  color: var(--active-color);
  background: var(--background-color);
}
